.input-group {
    width: 35%;
}

.header-nav-link-text{
    font-size: 0.8rem;
}

.header-nav-item {
    border: 1px solid transparent;
}

.header-nav-item:hover {
    border: 1px solid white;
}

#header-form-input:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
}

#header-form-nav {
    width: fit-content;
}

.smaller-container {
    width: 13vw;
}

.small-font-size {
    font-size: 0.85rem;
}

.form-check-input:hover {
    cursor: pointer;
}
