<div class = "d-flex flex-column border border-mute px-3 pt-3 pb-2 smaller-container rounded">
    <header class = "">
        <img src = "../../../../dev_files/ecommerce_empreendedorismo.png" alt = "Imagem do Produto"/>
    </header>
    <main class = "">
        <section class = "text-justify ml-4">
            <h5>Nome Produto</h5>
        </section>
        <section class = "fs-3">
            <p>R&#36;65,00</p>
        </section>
        <section class = "fs-6 text-muted text-justify">
            <p>Observa&ccedil;&otilde;es adicionais</p>
        </section>
    </main>
    <footer class = "px-2">
        <button class = "btn btn-dark mt-2 fs-6 mb-3 rounded-pill">Ver produto</button>
        <button class = "btn btn-light mt-2 fs-6 mb-3 rounded-pill"><i class = "bi bi-cart-plus px-2"></i></button>
    </footer>
</div>