<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
</head>
<body>
    <h1>Home EJS</h1>

    <hr>
    <% for (let i = 0; i < users.length; i++) { %>
        <p>ID: <%= users[i].id %></p>
        <p>Nome: <%= users[i].name %></p>
        <p>Email: <%= users[i].email %></p>

        <hr>
    <% } %>
</body>
</html>
