<header class="container-fluix bg-dark text-white d-flex align-items-center px-5 py-3 justify-content-between">
    <h1 class="h1 m-0">
        <a href="/" class="text-white text-decoration-none">
            KosmeticGames
        </a>
    </h1>

    <!-- <form class="d-flex input-group" role="search">
        <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search"
        aria-describedby="search-icon" id="header-form-input">
        <button class="btn btn-light btn-sm" type="submit" id="search-icon">
            <i class="bi bi-search"></i>
        </button>
    </form> -->

    <% if (user) { %>
        <nav class="d-flex justify-content-end" id="header-form-nav">
            <ul class="nav d-flex gap-4">
                <li class="nav-item px-2">
                    <div class="dropdown">
                        <button class="btn text-white dropdown-toggle d-flex align-items-center gap-2 py-0 header-nav-item"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person fs-3"></i>
                            <span class="header-nav-link-text">
                                <p class="m-0"><%= user.name %></p>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/<%= user.id %>">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Produtos</a></li>
                            <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item d-flex align-items-center header-nav-item px-2">
                    <a href="/" class="nav-link text-white d-flex align-items-center gap-2 p-0">
                        <i class="bi bi-cart3 fs-4"></i>
                    </a>
                </li>
            </ul>
        </nav>

    <% } else { %>
        <nav class="d-flex justify-content-end" id="header-form-nav">
            <ul class="nav d-flex gap-4">
                <li class="nav-item px-2 header-nav-item">
                    <a href="/login" class="nav-link text-white d-flex align-items-center gap-2 p-0">
                        <i class="bi bi-person fs-3"></i>
                        <span class="header-nav-link-text">
                            <p class="m-0">Entrar ou</p>
                            <p class="m-0">Registrar</p>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    <% } %>
</header>
