<aside class = "border border-info">
    <header class = "text-center">
        <h3>Filtros</h3>
    </header>
    <main class = "nav flex-column">
        <section class = "nav-item">
            <header class = "text-center">
                <h4>Jogos</h4>
            </header>
        </section>
        <section class = "nav-item">
            <header class = "text-center">
                <h4>Categoria</h4>
            </header>
        </section>
        <section class = "nav-item">
            <header class = "text-center">
                <h4>Pre&ccedil;o</h4>
            </header>
        </section>
    </main>
</aside>
